<head>
    <title>Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
</head>

<template name="home">
    <body>
    <div class="container">
        {{> header}}

        {{#if watchMode}}
            <div class="row">
                <div class="col-12">
                    {{> watch}}
                </div>
            </div>
        {{else}}
            {{#if currentUser}}
                {{> tracks}}
            {{/if}}
        {{/if}}
    </div>
    </body>
</template>

