<head>
    <title>Tracker</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
</head>

<template name="about">
    <body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about">
                    <h1>Tracker</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="about">{{#markdown}}{{> help}}{{/markdown}}
                </div>
            </div>
        </div>
    </div>
    </body>
</template>