<template name="editTrack">
    {{#if isVisible}}
        <div class="edit-track">
            <textarea id="edit{{_id}}" accesskey="t" placeholder="{{#if _id}}Edit your track &hellip;{{else}}File your track &hellip;{{/if}}">{{value}}</textarea>
            <div class="control" id="control{{_id}}"><div><a href="#s" class="submit">Submit</a> <a href="#c" class="cancel">Cancel</a>{{#if _id}}<a href="#r" class="remove">Remove track</a>{{/if}}</div></div>
            <div class="error" id="errors{{_id}}"></div>
        </div>
    {{/if}}
</template>