<template name="editTrack">
    {{#if isVisible}}
        <div class="editable">
            <div class="edit-track">
                {{#unless _id}}<span class="control">File your track: </span>{{/unless}}
                <div class="text-container"><textarea id="edit{{_id}}" autofocus="autofocus"
                                                      accesskey="t">{{value}}</textarea></div>
                <div class="control" id="control{{_id}}"><div><a href="#" class="submit">Submit</a> <a href="#" class="cancel">Cancel</a>{{#if _id}}<a href="#" class="remove">Remove track</a>{{/if}}</div></div>
                <div class="error" id="errors{{_id}}"></div>
            </div>
        </div>
    {{/if}}
</template>