<template name="track">
    {{#if isEditing}}
        <tr>
            <td colspan="10">{{> editTrack value=inputValue _id=_id}}</td>
        </tr>
    {{else}}
        <tr class="track{{#if isRecentEditing}} recent{{/if}}">
            <td class="hidden-sm indicator">{{day}}</td>
            <td class="hidden-sm">{{time}}</td>
            <td>{{track}}</td>
            <td>{{durationAndResults}}{{#if comment}}<br><span class="comment">{{comment}}</span>{{/if}}</td>
        </tr>
    {{/if}}
</template>