<template name="track">
    {{#if isEditing}}
        <tr>
            <td colspan="10">{{> editTrack value=inputValue _id=_id}}</td>
        </tr>
    {{else}}
        <tr class="track{{#if isRecentEditing}} recent{{/if}}">
            <td class="hidden-sm indicator" style="word-break:keep-all;">{{day}}</td>
            <td class="hidden-sm" style="word-break:keep-all;">{{time}}</td>
            <td>{{track}}</td>
            <td>{{durationAndResults}}{{#if comment}}<br><span class="comment">{{#autolink}}{{comment}}{{/autolink}}</span>{{/if}}</td>
        </tr>
    {{/if}}
</template>