<template name="tracks">

    <div class="row header accent">
        <div class="col-12">
            {{> editTrack}}
        </div>
    </div>
    <div class="row">

        <div class="col-6 padding">
            {{#if hasTracksAtAll}}{{> queryTracks}}{{/if}}
            {{#if hasTracks}}{{> chart}}{{/if}}
        </div>


        <div class="{{#if hasTracks}}col-6{{else}}col-12{{/if}}">
            {{#if hasQuery}}
                <div class="query-label">Result of query: <strong>{{queryInput}}</strong></div>{{/if}}
            <table class="tracks">
                {{#each tracks}}
                    {{> track}}
                {{/each}}
                <tr class="end-of-list">
                    <td colspan="10">
                        {{#if Template.subscriptionsReady}}
                            {{#if hasMoreTracks}}
                                <a class="load-more" href="#load">Load more tracks</a>
                            {{else}}
                                {{#if hasTracks}}
                                    <span>End of list</span>
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>



