@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700");


* {
    font-family: 'Roboto mono', monospace, sans-serif;
    line-height: 1.62em;
    outline: none;
    text-decoration: none;
    font-size: 100%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

img {
    max-width:100%;
    margin:1.62em 0;
}

a {
    color:black;
}

blockquote {
    border-top:1px solid black;
    border-bottom:1px solid black;
    font-style: italic;
    margin:2.62em 0;
}

.editable dl {
    margin:0;
    padding:0;
}

.editable dl dt {
    width:10em;
    float:left;
}

.editable dl dd {
    margin-left:10em;
}


::-webkit-input-placeholder {
    color: gray;
}

:-moz-placeholder { /* Firefox 18- */
    color: gray;
}

::-moz-placeholder { /* Firefox 19+ */
    color: gray;
}

:-ms-input-placeholder {
    color: gray;
}

.error {
    color: firebrick;
}

.error ul {
    font-size: 0.81em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*  Account UI */

.accounts-dialog * {
    font-family: 'Roboto mono', monospace, sans-serif;
}

.login-link-text  {
    color:white;
}

#login-buttons .login-button, .accounts-dialog .login-button {
    background: gray;
    font-family: 'Roboto mono', monospace, sans-serif;
    border: none;
    border-radius: 4px;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
    background: gray;
}

/* about */
a.about {
    border-radius:4px;
    padding:0px 4px;
    position: absolute;
    right:1.62em;
}

div.about {
   max-width:700px;
    margin:auto;
    font-family: 'Roboto mono', monospace, sans-serif;
    font-weight:300;

}

div.about a {
    text-decoration:underline;
}


h1, h2 {
    text-align:center;
    margin-top:4.25em;
    margin-bottom:2.62em;
}

h1 {
    margin-bottom:4.25em;
}

.best-wishes {
    margin:4.25em 0;
    text-align:center;
}

/* Chart */

.bucket-container {
    margin-bottom:1.62em;
}


ul.track-bucket-names, ul.result-bucket-names  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.track-bucket-names li, ul.result-bucket-names li {
    display: inline-block;
    line-height: 1em;
    margin-right: 1em;
    margin-bottom: .62em;
}

ul.track-bucket-names li:first-child {
    width:10em;
    margin-right:0;
}

ul.track-bucket-names a, ul.result-bucket-names a {
    display:inline-block;
    padding:0px 3px;
    border-radius: 4px;
    margin-left:-3px;
    text-decoration:none;
}

ul.track-bucket-names a.reset-filter {
    text-decoration:underline;
    padding-right:0;
}


ul.track-bucket-names .off {
    color:black;
    background:transparent;
}

ul.track-bucket-names .on {
    color:white;
    background:black;
    text-decoration:none;
}

.track.filter .duration, .result.filter .number {
    font-size:.82em;
    margin-left:.25em;
}

ul.result-bucket-names .on {
    text-decoration:none;
}



.axis path, .axis line {
    display:none;
    fill: none;
}

.axis text {
    font-size:.82em;
}

.results.axis text {
    fill: gray;
}

.axis.duration text {
    fill: black;
}

.line.duration {
    stroke: black;
    stroke-width: 2px;
    fill:none;
}

.dot.duration {
    fill:black;
}

.line.results {
    stroke-width: 2px;
    stroke-dasharray: 8,2;
    fill:none;
}

.line.hover {
    stroke-width:10px;
    stroke: transparent;
    fill: none;
}

.dot.hover {
    fill:transparent;
    stroke:transparent;
}

#chart-tooltip {
    position: absolute;
    padding: 4px;
    font-size:.81em;
    pointer-events: none;
    display:none;
}



/* Tracks */

table.tracks {
    border: none;
    border-spacing: 0;
}

tr.track {
    cursor:pointer;
}


tr.recent td.indicator:before {
    content: "»";
    margin-left: -1em;
    position: absolute;
}

tr.track td {
    padding: 0;
    padding-right: 1em;
    vertical-align: top;
}

tr.track td:last-child {
    padding: 0;
}

.comment {
    color:gray;
}

.comment a {
    text-decoration:underline;
    color:gray;
}


.end-of-list td {
    padding: 3.24em 0;
    text-align: center;
    font-size: .81em;
}

a.load-more {
    padding: 0.25em 2em;
    border-radius: 4px;
    background: gray;
    color: white;
}

/* query */
.query {
    margin-bottom:1.62em;
}

.query-label {
    margin-bottom:1.62em;
}



/* edit track */

.edit-track {
    min-width:300px;
}

.editable .control {
    height:1.62em;
}

tr .edit-track {
    margin: 1.62em 0;
}

.editable textarea {
    padding:0;
    border:0;
    margin: 0;
    height:28px;
    resize: none;
    width: 100%;
    font-weight:bold;
    background:transparent;
}

.text-container {
    border-bottom:1px solid lightgray;
}


.editable a {
    text-decoration: underline;
}

.editable a.submit, .editable a.query {
    margin-right: 1.62em;
}

.editable a.watch {
    padding-right:1em;
    margin-right:1.62em;
}

.editable a.remove {
    color: firebrick;
    float: right;
}

.textcomplete-dropdown li:hover,
.textcomplete-dropdown .active {
    background: black;
}

.textcomplete-dropdown li:hover a,
.textcomplete-dropdown .active a {
    color:white;
}


/* accent */
.accent a.about {
    color:white;
}

.accent {
    background:black;
    color:white;
}

.accent .editable textarea {
    color:white;
}

.accent .editable textarea.error {
    color:#e47070;
}

.accent .error {
    color:#e47070;
}

.accent .editable a {
    color:white;
}


/* stop watch */
.watch #time {
    text-align:center;
    margin-bottom:.82em;
}

.watch #time.running:before {
    content:">";
    position:absolute;
    margin-left:-1em;
}

.watch #time.stopped.has-time:before {
    content:".";
    position:absolute;
    margin-left:-1em;
}

.watch .control {
    text-align:center;
}

.watch .control a {
    padding:6px;
    border-radius: 4px;
    background:gray;
    color:white;
    display:inline-block;
    font-size:1.62em;
    display:block;
    width:10em;
    margin:1.62em auto;
}

.watch .control a.clear {
    background:firebrick;
}

.watch .control a.return {
    background:green;
}


.watch .control a .key {
    font-size:.62em;
    display:block;
    color:lightgrey;
}



/* NProgress */
#nprogress .bar {
    background:black;
    height:4px;
}

#nprogress .peg {
    display:none;
}

#nprogress .overlay {
    position:fixed;
    z-index:1030 !important;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:rgba(0, 0, 0, 0.1);
}


/*
SIMPLE GRID
inspired by ZACH COLE 2016
*/

.container {
    margin-left: auto;
    margin-right: auto;
}

.row {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.row [class^="col"] {
    float: left;
    padding: 1em;
    min-height: 0.125em;
    box-sizing: border-box;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 40em) {
    .hidden-sm {
        display: none;
    }
}

@media only screen and (min-width: 80em) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}


