@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400");

* {
    font-family: 'Roboto Mono', monospace, sans-serif;
    line-height: 1.62em;
    outline: none;
    text-decoration: none;
    font-size: 100%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}

a {
    text-decoration:underline;
    color:black;
}

::-webkit-input-placeholder {
    color: gray;
}

:-moz-placeholder { /* Firefox 18- */
    color: gray;
}

::-moz-placeholder { /* Firefox 19+ */
    color: gray;
}

:-ms-input-placeholder {
    color: gray;
}

.error {
    color: firebrick;
}

.error ul {
    font-size: 0.81em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*  Account UI */

.accounts-dialog * {
    font-family: 'Roboto Mono', monospace, sans-serif;
}

#login-buttons .login-button, .accounts-dialog .login-button {
    background: gray;
    font-family: 'Roboto Mono', monospace, sans-serif;
    border: none;
    border-radius: 4px;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
    background: black;
}

/* Chart */

.bucket-container {
    margin-bottom:1.62em;
}

ul.track-bucket-names, ul.result-bucket-names  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.track-bucket-names li, ul.result-bucket-names li {
    display:inline-block;
    line-height:1em;
    margin-right:1em;
    margin-bottom:.62em;
}

ul.track-bucket-names a.filter, ul.result-bucket-names a.filter {
    display:inline-block;
    padding:0px 3px;
    border-radius: 4px;
    margin-left:-3px;
}

ul.track-bucket-names .off {
    color:black;
    background:transparent;
}

ul.track-bucket-names .on {
    color:white;
    background:black;
    text-decoration:none;
}

ul.result-bucket-names .on {
    text-decoration:none;
}

.axis path, .axis line {
    display:none;
    fill: none;
}

.axis text {
    font-size:.82em;
}

.results.axis text {
    fill: gray;
}

.duration.axis text {
    fill: black;
}

.duration.line {
    stroke: black;
    stroke-width: 2px;
    fill:none;
}

.duration.dot {
    fill:black;
}

.results.line {
    stroke-width: 2px;
    stroke-dasharray: 8,2;
    fill:none;
}



/* Tracks */

table.tracks {
    border: none;
    border-spacing: 0;
}

tr.track:hover {
    background: #d4d9de;
}

tr.recent td.indicator:before {
    content: "»";
    margin-left: -1em;
    position: absolute;
}

tr.track td {
    padding: 0;
    padding-right: 1em;
    vertical-align: top;
}

tr.track td:last-child {
    padding: 0;
}

.end-of-list td {
    padding: 3.24em 0;
    text-align: center;
    font-size: .81em;
}

a.load-more {
    padding: 0.25em 2em;
    border-radius: 4px;
    background: gray;
    color: white;
}

a.load-more:hover {
    background: black;
}

/* edit track */

.edit-track {
    min-width:300px;
}

tr .edit-track {
    margin: 1.62em 0;
}

.edit-track textarea {
    border: none;
    padding: 0;
    margin: 0;
    resize: none;
    height: 1.62em;
    width: 100%;
    border-bottom: 1px solid transparent;
}

.edit-track textarea:hover, .edit-track textarea:focus {
    border-bottom: 1px solid lightgray;
}

.edit-track .control {
    color: gray;
    font-size: .81em;
    height: 1.62em;
}

.edit-track .control a {
    color: gray;
}

.edit-track .control a.submit {
    margin-right: 1.62em;
}

.edit-track .control a.remove {
    color: firebrick;
    float: right;
}

/*
SIMPLE GRID
inspired by ZACH COLE 2016
*/

.container {
    margin-left: auto;
    margin-right: auto;
}

.row {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.row [class^="col"] {
    float: left;
    padding: 1.5em;
    min-height: 0.125em;
    box-sizing: border-box;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 40em) {
    .hidden-sm {
        display: none;
    }
}

@media only screen and (min-width: 80em) {
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}


